html {
   box-sizing: border-box;
}

* {

   &,
   &:before,
   &:after {
      box-sizing: inherit;
   }
}

body {
  background-color: $gray-lightest;
}

a {
   color: $blue-dark;

   &:hover,
   &:focus {
      text-decoration: none;
   }
}
