.c-headline-description {

   &__title {
      margin-bottom: 25px;
      text-transform: capitalize;
      font-size: $font-size-h2;
      color: $headline-dark;

      @include respond-to('small') {
         font-size: $font-size-h1;
      }
   }

   &__description {
      margin: 0 0 30px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      color: $text-dark;

      &--centered {
         text-align: center;
         max-width: 600px;
         margin-right: auto;
         margin-left: auto;
      }
   }

   .c-headline-description__link {
      font-weight: 500;
      color: $blue-dark;
   }

   &--small {

      .c-headline-description__title {
         margin: 0 0 10px;
         font-size: 18px;
         font-weight: 400;
      }

      .c-headline-description__description {
         font-size: 14px;
         font-weight: 400;
         color: $text-light;
      }

   }

   &--medium {

      .c-headline-description__title {
         margin: 0 0 15px;
         font-size: 24px;
         font-weight: 300;
      }

      .c-headline-description__description {
         font-size: 16px;
         font-weight: 400;
         color: $text-light;
      }

   }


   &--with-icon {
      padding-left: 80px;
      position: relative;
   }

   &__icon {
      position: absolute;
      left: 5px;
      top: 0;
   }

}
