.c-pricing {
   padding: 40px $default-margin 0;
   margin: 0 (-$default-margin) -100px;
   background-color: $gray-lightest;

   &__title {
      margin-bottom: 40px;
   }

   /*
   * Breakpoints section
   */
   @include respond-to('small') {
      padding-top: 130px;

      &__title {
         margin-bottom: 80px;
      }

      &__plans {
         overflow: hidden;
         border-radius: 6px;
      }
   }
}
