.homepage {

   .slick-dots {
      position: relative;
      text-align: left;
      bottom: -10px;
      padding-left: 5px;

      @include respond-to('medium') {
         padding-left: 30px;
      }

      @include respond-to('large') {
         bottom: 80px;
      }
   }

   @include respond-to('small') {

      .slick-dots {
         position: relative;
         left: 50%;
         bottom: 5px;
      }

      .c-headline-description__link {
         margin-bottom: 0;
         display: inline-block;
      }
   }

   @include respond-to('medium') {
      .slick-dots {
         bottom: 50px;
      }
   }

   // Specificity need to reset slick default margin bottom
   .slick-slider.slick-dotted {
      margin-bottom: 0;
   }

}
