.l-header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1;

   padding: 0 $default-margin;
   height: 60px;
   line-height: 60px;

   background-color: $white;
   box-shadow: 0 1px 0 0 rgba(0,0,0,.3);

   @include respond-to('small') {
      box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
   }

   @include respond-to('medium') {
      height: 100px;
      line-height: 100px;
   }

   .logo {
      display: inline-block;
   }

   &__navigation {
      display: inline-block;
   }
}
